/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sp-primary: #141922;
    --sp-success: #ADFF2F;
    --sp-white: #FFFFFF;
    --sp-light: #C1C1C1;
    --sp-black: #000000;
    --sp-dark: #282828;
    --sp-dark-soft: #727479;
    --sp-dark-ban: #080b12;

}

body {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
}

a {
    text-decoration: none;
}
img{
    max-width: 100%;
}
h2, h5 {
    color: var(--sp-white);
}

h5 {
    font-size: 0.8rem;
    padding: 0.75rem 0;
}
.artist_song{
    color: var(--sp-dark-soft);
    font-size: 0.65rem;
    font-weight: bold;
}


/* utilities */

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}
.text-align-center{
    text-align: center;
}
.row {
    display: flex;
    margin: 0 -1rem;
}
.col-lg-2 {
    width: calc(100% / 12 * 2);
}

/* spacing */

.p-2{
    padding: 1rem;
}



/* #region main */

#site_main {
    height: calc(100vh - 90px);
    display: flex;
}

.sidebar {
    width: 230px;
    height: 100%;
    background-color: var(--sp-black);

}

.screen {
    height: 100%;
    width: calc(100% - 230px);
    background-color: var(--sp-primary);
    padding-top: 70px;
}

.banner_up {
    width: calc(100% - 230px);
    height: 70px;
    background-color: var(--sp-dark-ban);
    position: fixed;
    top: 0;
    right: 0;
}
.btn-up {
    background-color: var(--sp-black);
    color: var(--sp-white);
    border: 1px solid var(--sp-white);
    font-size: 0.75rem;
    font-weight: bold;
    width: max-content;
}
.btn_container{
    padding: 0 1rem;
}

/* #endregion main */



/* #region footer */

#site_footer {
    width: 100%;
    height: 90px;
    background-color: var(--sp-dark)
}

/* #endregion footer */



/* #region media query */


@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 475px) {
    .sidebar {
        width: 50px;
    }
    .screen {
        width: calc(100% - 50px);
    }
}


/* #endregion media query */