/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sp-black: rgb(0, 0, 0);
    --sp-white: rgb(255, 255, 255);
    --sp-primary: rgb(20, 25, 34);
    --sp-dark: rgb(40, 40, 40);
    --sp-light: rgb(163, 163, 163);
    --sp-bar-dark: rgb(90, 90, 90);
    --sp-bar-light: rgb(193, 193, 193);
    --sp-success: rgb(173, 255, 47);
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* utilities */



/* #region main */

#site_main {
    height: calc(100vh - 90px);
    display: flex;

}

.sidebar {
    width: 230px;
    height: 100%;
    background-color: var(--sp-black);

}

.screen {
    height: 100%;
    width: calc(100% - 230px);
    background-color: var(--sp-primary);
}

/* #endregion main */



/* #region footer */

#site_footer {
    width: 100%;
    height: 90px;
    background-color: var(--sp-dark)
}

/* #endregion footer */



/* #region media query */


@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 475px) {
    .sidebar {
        width: 50px;
    }
    .screen {
        width: calc(100% - 50px);
    }
}


/* #endregion media query */